services:
  nginx:
    image: nginx:alpine
    ports:
      - 8080:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    expose:
      - '3000'
    networks:
      - app-network
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    expose:
      - '8000'
    environment:
      - DATABASE_URL=postgres://flashqc:1234@postgres/flashqc
    depends_on:
      postgres:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
    networks:
      - app-network
  migrations:
    build:
      context: .
      dockerfile: backend/Dockerfile.migrations
    environment:
      - DATABASE_URL=postgres://flashqc:1234@postgres/flashqc
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: flashqc
      POSTGRES_USER: flashqc
      POSTGRES_PASSWORD: 1234
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres:/docker-entrypoint-initdb.d
    # expose: makes port available only to other containers within the same Docker network
    # ports: maps container port to host port, allows external access from localhost
    # For development convenience, ports allows database GUI tools and direct connections
    ports:
      - 5432:5432
    # expose:
    #   - "5432"
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -U flashqc -d flashqc
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network
volumes:
  postgres_data:
networks:
  app-network:
    driver: bridge
