[tools]
node = '24.7.0'
pnpm = '10.19.0'
rust = '1.89.0'
tmux = '3.5'
uv = '0.8.14'

[tasks.bootstrap]
run = """
#!/bin/bash
set -e
WORKSPACE_ROOT=$PWD

cargo install --path tools/fqc --force
fqc bootstrap
cargo install diesel_cli --no-default-features --features postgres

cd $WORKSPACE_ROOT/backend/
diesel database reset
"""

[tasks.build]
run = [
  { "tasks" = [
    "db-reset",
    "build-cli",
    "build-backend",
    "build-frontend",
    "build-plugins",
  ] },
]

[tasks.build-cli]
run = "cargo install --path=tools/fqc --force"

[tasks.build-backend]
run = "cargo build"

[tasks.pnpm-install]
run = "pnpm install --frozen-lockfile"

[tasks.build-frontend]
depends = ["pnpm-install"]
run = "pnpm --filter 'frontend' run build"

[tasks.build-plugins]
depends = ["pnpm-install"]
run = "pnpm --filter './plugins/*' run build"

[tasks.db-reset]
run = "diesel database reset --migration-dir backend/migrations"

[tasks.dserve]
run = [
  "[ -z $FQC_SKIP_BUILD ] && mise run build",
  "docker compose up --build --force-recreate -d",
]

[tasks.serve]
# TO DO: move script to fqc CLI
run = ["./tools/scripts/serve.sh"]

[tasks.stop]
# TO DO: move script to fqc CLI
run = """
#!/bin/bash
tmux kill-session -t flashqc
docker compose down
"""

[tasks.ci-astro]
run = """
#!/bin/bash
pnpm install --frozen-lockfile
pnpm --filter "flash-qc" exec astro check
pnpm --filter "flash-qc" build
"""

[tasks.ci-rust]
run = """
#!/bin/bash
export RUSTFLAGS="-Dwarnings"
cargo build
cargo test
cargo clippy --all-targets --all-features
"""

[tasks.ci]
depends = ["ci-astro", "ci-rust"]

[env]
DATABASE_URL = 'postgres://flashqc:1234@localhost/flashqc'
SALT = '12345678'
