---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<header>
		<h1>Flash QC</h1>
	</header>
	<main style="display: flex; justify-content: center; align-items: center; min-height: 80vh;">
		<iframe 
			src="/api/tags-html" 
			width="800" 
			height="600"
			style="border: 1px solid #ccc;"
		></iframe>
	</main>
</Layout>
