---
import Layout from "../layouts/Layout.astro";
import  "../styles/styles.css";

---

<Layout>
 	<a
		href="/"
		style="position: absolute; top: 20px; right: 20px; padding: 10px 20px; font-size: 1rem; text-decoration: none; color: white; border-radius: 8px; font-weight: 600; cursor: pointer; z-index: 10;"
	>
	  <img src="/home.svg"></img>
	</a>
  <main>
    <h1>Profile</h1>
    <p>Welcome to your profile page.</p>
    <p>These are your decks:</p>
    <ul id="deck-list"></ul>
  </main>
</Layout>

<script>
   	import "../scripts/profile.ts";
</script>