name: Rust CI
on:
  push:
    branches:
      - main
  pull_request:
# Make sure CI fails on all warnings, including Clippy lints
env:
  RUSTFLAGS: -Dwarnings
jobs:
  # Check if rust files changed
  check-files:
    runs-on: ubuntu-latest
    outputs:
      rust: ${{ steps.filter.outputs.rust }}
    steps:
      - uses: actions/checkout@v5
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            rust:
              - '**/*.rs'
              - '**/Cargo.toml'
              - '**/Cargo.lock'
              - '**/build.rs'
              - '.cargo/**'
  rust_check:
    needs: check-files
    if: needs.check-files.outputs.rust == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Build
        run: cargo build
      - name: Run Tests
        run: cargo test
      - name: Run Clippy
        run: cargo clippy --workspace --all-targets --all-features
