name: TypeScript CI
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  check-files:
    runs-on: ubuntu-latest
    outputs:
      typescript: ${{ steps.filter.outputs.typescript }}
    steps:
      - uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            typescript:
              - '**/*.ts'
              - '**/*.tsx'
              - '**/tsconfig.json'
              - 'tsconfig.base.json'
  tsc-build:
    needs: check-files
    if: needs.check-files.outputs.typescript == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v2
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Mise build
        run: cargo install wasm-pack && mise build-frontend && mise build-plugins
      - name: TypeScript build
        run: pnpm run build
